@media (min-width: 940px) {
  .container {
    min-width: 930px;
  }
}
@media (max-width: 935px) {
  #contact,
  #contact-form .members {
    flex-direction: column;
  }
  #contact-form {
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
  #contact-form .members {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  #contact-form {
    width: fit-content;
  }
}
#contact-form form input,
form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid var(--bg-secondary-color);
  resize: none;
  color: var(--main-darker);
}
#contact-form .members h4 {
  padding-left: 10px;
  color: var(--secondary);
  font-size: 13px;
  margin: 0;
  line-height: 25px;
  text-transform: none;
}
